*{
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

#page{
  box-sizing: border-box;
  margin: 88px 80px 48px;
}

/* imagens */
.img{
  border-radius: 28px;
  width: 100%;
}

/* Textos */
h1{
 font-size: 36px;
 margin: 8px auto 40px;
}
h2{
  font-size: 32px;
  margin:5px auto;
}

h3{
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 2px;
}

h1, h2, h3{
  color: #1B1B1B
}

p{
  margin-top: 8px;
  margin-bottom: 25px;
}

.bp{
  font-weight: bold;
  margin-bottom: 0px;
}

#titleM1{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #ff6600;
}

#titleM2{
  font-size: 16px;
  font-weight: bold;
  margin: 64px auto 5px;
  text-transform: uppercase;
  color: #ff6600;
}

#text1{
  font-style: italic;
  padding: 0px 4px;
  text-align: center;
}

#final{
  margin-top: 40px;
  text-align: center;
}

/* Listas */
li{
 font-weight: bold;
}

ul{
  margin-top: 4px;
  padding-left: 20px;
  margin-bottom: 48px;
}

#ul{
  margin-bottom: 40px;
}

ul li::before{
  color: #333333 !important;
  font-weight: bold;
}

#his{
  color: #0C51A7;
}

#cas{
  color: #591B98;
}

#fam{
  color: #E5245E;
}

#orc{
  color: #E95E10;
}

/* Rodapé */
footer{
  text-align: center;
  padding-bottom: 48px;
}

#heart{
 vertical-align: middle;
 color: #333333;
}

/* Desing */
.divider{
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #bdbdbd;
}